
/* Используемые шрифты */
/* font-family: "Cuprum", Arial,  sans-serif; */
/* font-family: "PT Sans", Arial, sans-serif; */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", Arial,  sans-serif;
  color: #000000;

  background-color: #ffffff;;
}

.conteiner { /*центровка*/
  width: 940px;
  margin: 0 auto;
}

/*Прячет элементы с классом visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #ee3643;
  border-radius: 3px;
}

/**************** HEADER ****************/

.page-header {
  color: #000000;
  min-height: 320px;
  margin-bottom: 59px;
  background-color: #f3f7f8;
}

.page-header-top {
  height: 42px;
  background-color: #293449;
  margin-bottom: 46px;
}

.page-header-top .conteiner {
  display: flex;
}

.header-logo .logo {
  padding: 12px 55px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.header-logo .logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.header-logo .logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.search-form {
  position: relative;
}

.search-form .form-search {
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.search-form .form-search:hover,
.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus {
  background-color: #212a3a;
  fill: #ffffff;
}

.basket-in {
  background-color: #ee3643;
}

.search-form .form-search:focus {
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.search-form .form-search::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form .icon-search {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 17px;
}

.icon-form {
  width: 17px;
  height: 17px;
  outline: none;
  fill: #6a7180;
}

.goods-section {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 42px;
  padding: 0;
  margin: 0;
}

.goods-section li {
  width: 150px;
  text-align: center;
  padding: 0;
}

.goods-section a {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 12px;
}

.goods-section .bookmarks {
  padding-left: 25px;
  padding-right: 10px;
}

.goods-section .basket {
  padding-left: 30px;
  padding-right: 10px;
}

.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.ordering {
  background-color: #63a63e;
}

.ordering:hover,
.ordering:focus {
  background-color: #5fbb2d;
}

.ordering:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

/* БЛОК ИНФОРМАЦИИ В HEADER */

.header-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.slogan {
  width: 313px;
}

.header-slogan {
  width: 215px;
  margin: 0;
  padding-top: 3px;
  padding-left: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-contacts {
  padding-left: 10px;
  width: 313px;
}

.header-info-phone {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 71px;
  padding-right: 50px;
  margin: 0;
  margin-bottom: 4px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-info-address {
  font-size: 14px;
  color: #32425c;
  margin: 0;
  padding-left: 9px;
}

/* ВХОД и РЕГИСТРАЦИЯ */

.header-join {
  box-sizing: border-box;
  width: 313px;
  padding-top: 12px;
  padding-left: 29px;
}

.header-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
}

.enter {
  padding: 10px;
  padding-left: 47px;
  padding-right: 26px;
  margin-right: 8px;
}

.registration {
  padding: 10px;
  padding-left: 22px;
  padding-right: 25px;
}

.header-btn:hover,
.header-btn:focus {
  color: #ee3643;
}

.header-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ЛИЧНЫЙ КАБИНЕТ */
.header-user a {
  text-decoration: none;
}

.header-user .user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-user .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user .my-order,
.header-user .personal-area {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  border-bottom: 1px solid #32425c;
}

.header-user .my-order:hover,
.header-user .personal-area:hover {
  color: #ee3643;

  border-color: #ee3643;
}

.header-user .my-order:active,
.header-user .personal-area:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}


/* МЕНЮ НАВИГАЦИИ */


.main-menu .navigation {
  width: 940px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  padding-left: 0;
  margin: 0;

  list-style: none;
}

.navigation li {
  min-width: 127px;
  /* flex-grow: 1; */
  flex-shrink: 0;
}

.navigation li:nth-child(5) {
  flex-grow: 1;
}

.main-menu .main-nav {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 19px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-menu .main-nav:hover {
  background-color: #293449;
}

.main-menu .main-nav:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
  border-color: #1d2739;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
  display: flex;
  align-items: baseline;

  list-style: none;
}

.breadcrumbs-way,
.breadcrumbs-current {
  margin-right: 15px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/**************** PROMO BLOCK ****************/

.promo-top {
  margin-bottom: 45px;
}

.promo-card,
.promo-proposals {
  list-style: none;
}

.promo-card {
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.promo-data,
.promo-bid {
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  position: relative;
}

.color-orange {
  background-color: #ffbf47;
}

.color-blue {
  background-color: #3bbce3;
}

.color-purple {
  background-color: #dc91d8;
}

.color-green {
  background-color: #8ed78f;
}

.color-lightorange {
  background-color: #ffc047;
}

.promo-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  margin: 0;
  left: 22px;
  top: 21px;
}

.promo-btn {
  display: block;
  box-sizing: border-box;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  border-radius: 3px;
  position: absolute;
  top: 63px;
  left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}

.color-purple .promo-btn {
  left: 22px;
}

.promo-btn:hover,
.promo-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* SLADER */

.promo-slider {
  display: flex;
}

.promo-bottom {
  display: flex;
  justify-content: space-between;
}

.promo-proposals {
  padding: 0;
  margin: 0;
}

.color-green {
  margin-bottom: 20px;
}

.slide {
  position: relative;
}

.promo-slider .promo-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 23px;
  left: 23px;
  margin: 0;
}

.promo-slider .promo-description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 61px;
  left: 24px;
}

.button-slide {
  position: absolute;
  bottom: 30px;
  left: 25px;
  padding: 10px 48px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/**************** BLOCK GOODS ****************/

.perforator-block {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

/**************** FILTER BLOCK ****************/

.filter-block {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter input[type="range"] {
  background-color: #f7f3ec;
}

.filter-price-min,
.filter-price-max {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
}

.manufacturer-filter .filter-row,
.power-filter .filter-row {
  list-style: none;
}

.manufacturer-filter label,
.power-filter label {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-manufacturers .btn-filter {
  padding: 10px 40px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/* .filter-manufacturers .btn-filter:hover {
  outline: none;
  border-color: #bdc6ca;
} */

/* .filter-manufacturers .btn-filter:active {
  border-color: #ee3643;
} */

/**************** SORTING ****************/

.filter-goods .sort {
  background-color: #f7f3ec;
}

.filter-sort {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-goods .sorting,
.filter-goods .sorting-btn {
  list-style: none;
}

.sorting-item a {
  text-decoration: none;

  border-bottom: 1px dotted #ee3643;
}

.sorting-item a {
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-item a:hover {
  color: #000000;

  border-bottom-style: solid;
}

.sorting-btn .choice-filter {
  border: none;
}

.sorting-btn .choice-filter:hover {
  color: #000000;

  border: none;
}

.sorting-item .sort-active {
  color: #ee3643;

  border: none;
  cursor: default;
}

.sorting-item .sort-active:hover {
  color: #ee3643;

  border: none;
}

/**************** POPULAR GOODS & MANUFACTURER ****************/

.header-goods,
.header-manufacturers {
  position: relative;
  margin-bottom: 21px;
}

.popular-goods .title-block,
.manufacturers .title-block {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
  margin: 0;
}

.popular-goods .title-block {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.manufacturers .title-block {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 24px;
}

.button-popular {
  position: absolute;
  top: 25px;
  right: 24px;
  padding: 10px 55px;
}

.button-manufacturers {
  position: absolute;
  top: 23px;
  right: 25px;
  padding: 10px 68px;
}

/* КАРТОЧКИ ТОВАРОВ */

.card-product,
.cards-manufacturers {
  list-style: none;
}

.card-product {
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.card {
  box-sizing: border-box;
  min-width: 220px;
  position: relative;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.card img {
  outline: 1px solid #eaeaea;
}

.card:hover img,
.card:focus img {
  outline: none;
  box-shadow: 0 10px 30px 0 rgba(41, 52, 73, 0.5),
  0 9px 10px 0 rgba(41, 52, 73, 0.5);
}

.card .name-goods {
  position: absolute;
  bottom: 107px;
  left: 29px;
  display: inline-block;
  width: 160px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.old-price { /*Старая цена*/
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  position: absolute;
  bottom: 77px;
  left: 78px;
}

.actual-price { /*Актуальная цена*/
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 44px;
  border-radius: 3px;
  background-color: #ee3643;
  padding: 10px 35px;
}

.prompting a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.prompting .btn-buy {
  color: #ffffff;

  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: 0 1px 0 1px #367315;
}

.prompting .btn-buy:hover,
.prompting .btn-buy:focus {
  background-color: #5fbb2d;
}

.prompting .btn-buy:active {
  background-color: #518534;
}

.prompting .btn-basket {
  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 2px;
}

.prompting .btn-basket:hover,
.prompting .btn-basket:focus {
  color: #32425c;

  border-color: #32425c;
  outline: none;
}

.prompting .btn-basket:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

/* КАРТОЧКИ ПРОИЗВОДИТЕЛЕЙ */

.manufacturers {
  margin-bottom: 56px;
}

.cards-manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  padding: 0;
}

.cards-manufacturers li {
  margin-bottom: 15px;
}

.cards-manufacturers img {
  outline: 1px solid #eaeaea;
}

.title-manufacturer:hover img,
.title-manufacturer:focus img {
  outline: none;
  box-shadow: 0 8px 30px 0 rgba(41, 52, 73, 0.5);
}

.title-manufacturer:active img {
  opacity: 0.3;
}

/**************** TOGGLE PAGES ****************/

.toggle {
  display: flex;
  align-items: baseline;

  list-style: none;
}

.btn-toggle {
  text-decoration: none;
}

.toggle-current,
.btn-toggle {
  margin-right: 10px;
  padding: 10px 15px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.toggle-current {
  color: #ffffff;

  background-color: #ee3643;
}

.toggle .next {
  padding: 10px 30px;
}

.btn-toggle:hover,
.btn-toggle:focus {
  border-color: #bdc6ca;
  outline: none;
}

.btn-toggle:active {
  border-color: #ee3643;
}

/**************** SERVISE ****************/

.service {
  background-color: #f4f8f9;
  min-height: 521px;
  border-top: 1px solid transparent;
  margin-bottom: 82px;
}

.service-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -1px;
  margin-top: 64px;
  margin-bottom: 27px;
}

.service-description {
  width: 400px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 68px;
}

.service-choice {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 240px;
}

.service-choice li {
  width: 240px;
  height: 61px;
}

.service-choice a {
  width: 240px;
  box-sizing: border-box;
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 17px;

  background-color: #32425c;
  border-top: 1px solid #4d637b;
  border-bottom: 1px solid #293449;
}

.service-choice a:hover {
  background-color: #293449;
}

.service-choice a:focus {
  color: #32425c;
  border-color: #ffffff;

  background-color: #ffffff;
}

.carousel {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.service-slider,
.service-warranty,
.service-credit  {
  width: 620px;
}

.service-delivery p,
.service-warranty p,
.service-credit p {
  width: 260px;
  margin: 0;

}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.service-slider p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/**************** ABOUT US ****************/

.about-us {
  display: flex;
  justify-content: space-between;
}

.company {
  width: 540px;
}

.contacts {
  width: 300px;
}

.title-about {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 27px;
  letter-spacing: -1px;
  padding: 0;
  text-transform: uppercase;
}

.company p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.company p:nth-of-type(2) {
  width: 410px;
  margin-top: 23px;
  /* margin-bottom: 20px; */
}

.contacts p {
  width: 195px;
  margin-bottom: 30px;
}

.delivery-list {
  list-style: none;
  padding-left: 36px;
  margin-bottom: 41px;
}

.delivery-list li {
  font-size: 18px;
  line-height: 24px;
  margin-top: 17px;
}

.delivery-btn {
  padding: 10px 40px;
}

.contacts img {
  margin-bottom: 39px;
}

.contacts-btn {
  padding: 10px 61px;
}

/**************** ABOUT DRILL ****************/

.drill-presses {
  background-color: #f2f6f8;
}

.about-drill {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.drill-presses p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/**************** FOOTER ****************/

.main-footer {
  margin-top: 93px;
}

.footer-top {
  background-color: #32425c;
  min-height: 193px;
}

.footer-top-column {
  display: flex;
}

.footer-contacts {
  width: 380px;
}

.footer-navigation {
  width: 560px;
}

.main-footer .logo {
  padding: 21px 41px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-addres {
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  padding-left: 3px;
  color: #f1f5f7;
}

.footer-navigation ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-navigation .footer-nav-company  {
  margin-top: 25px;
  padding: 12px;
  width: 547px;
}

.footer-nav-company li {
  min-width: 50px;
}

.footer-nav-company a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  text-decoration: none;
}

.footer-navigation .footer-nav-goods {
  margin-top: 23px;
  padding-left: 35px;
}

.footer-nav-goods a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-decoration: none;
}

.footer-nav-company a:hover {
  border-bottom: 1px solid #f1f5f7;
}

.footer-nav-goods a:hover {
  border-bottom: 1px solid #ffd180;
}

.footer-nav-company a:active {
  color: rgba(241, 245, 247, 0.5);

  border: none;
}

.footer-nav-goods a:active {
  color: rgba(255, 209, 128, 0.5);

  border: none;
}

.footer-bottom {
  background-color: #293449;
  min-height: 107px;
}

.footer-bottom-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  padding-top: 21px;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  /* padding: 20px; */

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-social {
  margin-left: 94px;
}

.footer-social .btn-social {
  color: #ffffff;
  text-decoration: none;

  background-color: #212a3a;
}

.footer-social .btn-social:hover,
.footer-social .btn-social:active {
  background-color: #ee3643;
}

.footer-feedback,
.footer-developed {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

}

.footer-feedback {
  box-sizing: border-box;
  width: 150px;
  padding-left: 28px;
}

.footer-developed {
  box-sizing: border-box;
  width: 110px;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developed a:hover {
  border-bottom: 1px solid #ffd180;
}

.footer-feedback a:active,
.footer-developed a:active {
  color: #ee3643;

  border: none;
}

/**************** MODAL ****************/

/* MODAL FEEDBACK */

.feedback-window {
  width: 620px;
  height: 430px;
  margin: 0 auto;

  border-top: 5px solid #ee3643;
}

.form-colunm {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin: 0 auto;
  margin-top: 25px;
}


.feedback-item label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.feedback-center {
  width: 460px;
  margin: 0 auto;
}

.form-feedback input {
  width: 220px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 10px;
}

.form-feedback input::placeholder,
.form-feedback textarea::placeholder {
  color: #a9a9a9;
  font-size: 13px;
  line-height: 18px;
}

.form-feedback textarea {
  padding-left: 10px;
  padding-top: 5px;
}

.form-feedback input,
.form-feedback textarea {
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.form-feedback input:hover,
.form-feedback textarea:hover {
  border-color: #b5b5b5;
}

.form-feedback input:focus,
.form-feedback textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.feedback-bottom {
  background-color: #f4f4f4;
  height: 112px;
  margin-top: 37px;
  position: relative;
}

.button-feedback {
  width: 460px;
  margin: 0 auto;
  position: absolute;
  top: 35px;
  left: 80px;
  padding: 10px 10px;
  border: none;
}

/* MODAL MAP */

.map-window {
  width: 940px;
  height: 446px;
  margin: 0 auto;
  margin-top: 40px;    /*Временно*/
  box-shadow: 0 0 16px 0 #000000;
}

/* MODAL ADD GOODS */
.modal-add-goods {
  width: 620px;
  height: 282px;
  margin: 0 auto;

  background-color: #ffffff;
  border-top: 5px solid #ee3643;
}

.add-goods {
  font-size: 30px;
  line-height: 30px;
}

.bottom-add-goods {
  background-color: #f1f1f1;
}

.bottom-add-goods a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-place-order {
  color: #ffffff;

  background-color: #ee3643;
}

.btn-continue {
  color: #000000;

  background-color: #ffffff;
}
